/include/ "system-conf.dtsi"
/ {
};

/* QSPI PHY:  from https://wiki.trenz-electronic.de/display/PD/TE0720+Test+Board */
&qspi {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
    flash0: flash@0 {
        compatible = "jedec,spi-nor";
        reg = <0x0>;
        #address-cells = <1>;
        #size-cells = <1>;
         
        spi-rx-bus-width = <4>;
        spi-tx-bus-width = <4>;
        spi-max-frequency = <90000000>;
    };
};

/* ETH PHY:  from https://wiki.trenz-electronic.de/display/PD/TE0720+Test+Board */
&gem0 {
    phy-handle = <&phy0>;
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy0: phy@0 {
            compatible = "marvell,88e1510";
            device_type = "ethernet-phy";
            reg = <0>;
        };
    };
};

/* PACMAN specific settings */

/* I2C */
&i2c0 {
        clock-frequency = <100000>;
};

/* DDR memory reserved for PL-DMA */
/ {
    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        reserved: buffer@0x30000000 {
            no-map;
            reg = <0x30000000 0x8000000>; //tried 0x10000000 (256MB), but conflicts with u-boot reloc. 128MB is OK.
        };
    };

    reserved-driver@0x30000000 {
        compatible = "xlnx,reserved-memory";
        memory-region = <&reserved>;
    };
};
